.bg0{
    -fx-background-color: #ffd5bf;
}
.bg1{
    -fx-background-color: #FFFFBF;
}
.bg2{
    -fx-background-color: #D4FFBF;
}
.bg3{
    -fx-background-color: #A6FFC5;
}
.bg4{
    -fx-background-color: #BFFFFF;
}
.bg5{
    -fx-background-color: #BFD6FF;
}
.bg6{
    -fx-background-color: #D4BFFF;
}
.bg7{
    -fx-background-color: #FFBFFF;
}
.bg8{
    -fx-background-color: #FFBFD4;
}
.bg9{
    -fx-background-color: #FFFFFF;
}